* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: teal;
}

.container {
    width: 100vw;
    max-width: 800px;
    padding: 2em, 1.5em;
    background-color: white;
    margin: 1em auto;
    border-radius: 0.5em;
}

.container h4 {
    border: 1px solid;
    padding: 10px;
}


.menu {
    line-height: 1cm;
    margin: 0.5em 0;
}

label {
    margin: 0.2em;
}

input, button {
    display: block;
    outline: none;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.3em;
}
